.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background-image: url(./img/American_Flag_Image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: salmon; */
}
